@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.ttf');
    font-weight: 600;
}

html {
    scroll-behavior: smooth;
    min-width: 350px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat';
    font-weight: 300;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    background: #F9F9F9;
}

.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

@media (max-width: 992px) {
    .container {
        padding: 0 12px;
    }
}

.navbar {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #fff;
    border-radius: 0 0 35px 35px;
    box-shadow: 0px 50px 250px rgba(0, 0, 0, 0.15);
}

.navbar__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}

.navbar__nav--logo {
    width: 100%;
    max-width: 150px;
}

.navbar__nav--logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.navbar__nav--list {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.navbar__nav--link {
    display: flex;
    padding: 20px 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    border-radius: 15px;
    font-weight: 600;
    font-size: 16px;
    transition: 0.2s;
    color: #000;
}

.navbar__nav--link:hover {
    background: #030F5D;
    color: #fff;
}

.navbar__nav--action {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    column-gap: 10px;
}

.navbar__nav--btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #020F5E;
    padding: 8px 30px;
}

.navbar__nav--burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 100px;
    height: 40px;
}

.navbar__nav--burger span {
    width: 100%;
    height: 2px;
    background: #000;
    border-radius: 50px;
}

@media (max-width: 1200px) {
    .navbar__nav--list {
        display: none;
    }

    .navbar__nav--action {
        display: none;
    }

    .navbar__nav--burger {
        display: flex;
    }
}

.header {
    width: 100%;
    padding-top: 200px;
}

.header__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__content--action {
    width: 100%;
    max-width: 530px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header__content--action--title {
    font-weight: 600;
    font-size: 64px;
}

.header__content--action--info {
    font-size: 20px;
    line-height: 200%;
    margin-top: 25px;
}

.button {
    display: flex;
    padding: 30px 60px;
    justify-content: center;
    align-items: center;
    background: #030F5D;
    border-radius: 20px;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}

.header__content--action--btn {
    margin-top: 35px;
}

.header__content--img {
    width: 100%;
    height: 600px;
    max-width: 600px;
    background: url('../images/header-img.webp') no-repeat center center / contain;
}

/* ===== tours ===== */
.tours {
    width: 100%;
    margin-top: 100px;
    background: url('../images/banner.jpg') no-repeat center center / cover;
    padding: 90px 0;
}

.tours .container {
    max-width: 1400px;
}

.tours-content {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    width: 100%;
}

.tours__box {
    max-width: 650px;
    width: 100%;
    border-radius: 30px;
    background: #FFF;
    padding: 50px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tours__box-title {
    color: #000;
    text-align: center;
    font-size: 54px;
    font-weight: 600;
    max-width: 400px;
}

.tours__box-inner {
    margin-top: 42px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tours__images {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.tours__images-item {
    /* height: 150px; */
    width: calc(100% - 10px);
    border-radius: 25px;
}

.tours__images-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.tours__box-btn {
    text-align: center;
    width: 100%;
    border-radius: 20px;
    background: #030F5D;
    padding: 30px 0;
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
}



/* ===== about  ===== */

.about {
    margin-top: 80px;
}

.about-title {
    color: #000;
    font-size: 64px;
    font-weight: 600;
    text-align: center;
}

.about-title span {
    color: #FE0001;
    font-weight: 600;
}

.about-content {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    width: 100%;
}

.about-content img {
    max-width: 1010px;
    width: 100%;
}


/* ====== slider ======= */

.slider {
    margin-top: 80px;
    padding-top: 40px;
    overflow: hidden;
    padding-bottom: 150px;
}

.slider .container {
    max-width: 1600px;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.slider-title {
    text-align: center;
    color: #000;
    text-align: center;
    font-size: 54px;
    font-weight: 600;
}

.slider__box {
    max-width: 1200px;
    width: 100%;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 100px 150px 0px rgba(0, 0, 0, 0.10);
    /* height: 100%; */
    padding: 50px 50px 40px 50px;
    display: flex;
    align-items: flex-start;
    gap: 50px;
}

.slider__box-image {
    border-radius: 25px;
    width: 250px;
    height: 300px;
}

.slider__box-inner {
    display: flex;
    flex-direction: column;
    /* gap: 35px; */
    width: 100%;
}

.slider__box-article {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 460px;
}

.slider__box-title {
    color: #000;
    font-size: 42px;
    font-weight: 600;
}

.slider__box-subtitle {
    color: #000;
    font-size: 42px;
    font-weight: 400;
}

.slider__buttons {
    display: flex;
    gap: 25px;
    max-width: 665px;
    width: 100%;
    margin-top: 35px;
}

.slider__buttons-item {
    cursor: pointer;
    width: calc(50% - 25px / 2);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #030F5D;
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
    border: 2px solid #030F5D;
    transition: .3s all;
}

.slider__buttons-item.second {
    background: #FFF;
    color: #030F5D;
}

.slider__buttons-item.second.active {
    border: 10px solid rgba(3, 15, 93, 0.10);
}

.slider__dropdown {
    height: 0px;
    min-height: 0px;
    overflow-y: hidden;
    max-width: 665px;
    width: 100%;
    color: #000;
    font-size: 24px;
    font-weight: 300;
    line-height: 180%;
    /* 48px */
    transition: .3s all;
}

.slider__dropdown-text {
    border-top: 1px solid #000;
    margin-top: 30px;
    padding-top: 20px;
}

/* .slider__dropdown.active {
    height: 200px;
} */

.swiper {
    padding: 100px 0 150px;
    width: 100%;
    height: 100%;
    --swiper-navigation-top-offset: calc(50% - 45px);
    overflow: visible;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 400px;
    padding: 0 12px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    content: '';
    width: 80px;
    height: 75px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.swiper-button-prev,
.swiper-button-next {
    width: 86px;
    height: 75px;
}

.swiper-button-next:after {
    background-image: url('/images/arrow-right.png');
}

.swiper-button-prev:after {
    background-image: url('/images/arrow-left.png');
}


/* ===== partners ===== */

.subtitle {
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 50px;
}

.partners {
    width: 100%;
    padding-top: 50px;
    margin-top: 20px;
}

.partners__content {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.partners__content--action {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 45px;
    column-gap: 30px;
}

.partners__content--action--item {
    max-width: 576px;
    width: calc(50% - 15px);
    display: flex;
}

.partners__content--action--item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 35px;
}

.contacts {
    padding: 100px 0 180px;
    width: 100%;
}

.contacts__content--action {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    align-items: center;
    text-align: center;
}

.contacts__content--action div p {
    font-weight: 600;
    font-size: 24px;
}

.contacts__content--action iframe {
    width: 100%;
    height: 550px;
    border: none;
    outline: none;
}

.contacts__content--form {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    gap: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}

.form label {
    font-weight: 600;
}

.form input,
textarea {
    padding: 10px;
    outline: none;
    border: 1px solid wheat;
    font-size: 17px;
    width: 100%;
    resize: none;
}

.btn-send {
    width: max-content;
    padding: 20px 50px;
    outline: none;
    border: none;
    color: black;
    background: orange;
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 900;
    cursor: pointer;
    transition: all .2s;
}

.btn-send:hover {
    color: #fff;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: 10;
    transform: translate(-100%);
    transition: all .4s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.modal.active {
    transform: translate(0px);
}

.navbar__nav--burger.active {
    align-items: end;
}

.navbar__nav--burger span:nth-of-type(1),
.navbar__nav--burger span:nth-of-type(2),
.navbar__nav--burger span:nth-of-type(3) {
    transition: all 1s;
}

.navbar__nav--burger.active span:nth-of-type(1) {
    width: 40%;
}

.navbar__nav--burger.active span:nth-of-type(2) {
    width: 60%;
}

.navbar__nav--burger.active span:nth-of-type(2) {
    width: 75%;
}

.modal--list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index: 20;
}

.modal--list .navbar__nav--link {
    color: #000;
    background: unset;
    display: flex;
    flex-direction: column;
}

.modal--list .navbar__nav--link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: all .5s;
}

.modal--list .navbar__nav--link:hover:after {
    width: 100% !important;
    color: red;
}

.modal--action {
    display: flex;
    gap: 10px;
    margin: 10px 0 0 0;
}

/* Media */
@media (max-width: 1200px) {
    .header__content {
        gap: 35px;
    }

    .partners__content--action {
        justify-content: center;
    }

    .swiper {
        padding: 40px 0 100px;
    }

    .swiper-button-prev:after,
    .swiper-button-next:after {
        width: 50px;
        height: 40px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 50px;
        height: 40px;
    }

    .slider{
        padding-bottom: 80px;
    }

    .slider__box {
        border-radius: 30px;
        padding: 30px;
        gap: 20px;
        max-width: 1024px;
    }

    .slider__box-title {
        font-size: 34px;
    }

    .slider__box-subtitle {
        font-size: 36px;
    }

    .slider__buttons-item {
        width: calc(50% - 15px / 2);
        height: 55px;
        border-radius: 12px;
        font-size: 17px;
        border: 1px solid #030F5D;
    }

    .slider__buttons-item.second.active {
        border: 8px solid rgba(3, 15, 93, 0.10);
    }

    .slider__buttons {
        gap: 15px;
    }

    .slider__dropdown-text {
        margin-top: 20px;
        padding-top: 20px;
    }

    .slider__dropdown {
        font-size: 20px;
        line-height: 140%;
        transition: .2s all;
    }
}

@media (max-width: 1024px) {
    .tours__box-title {
        font-size: 40px;
        max-width: 300px;
    }

    .tours__box {
        padding: 30px 16px 20px 16px;
    }

    .tours__box-btn {
        border-radius: 16px;
        padding: 20px 0;
        font-size: 20px;
    }

    .tours {
        padding: 70px 0;
    }

    .tours-content {
        gap: 20px;
    }

    .tours__images {
        gap: 12px;
    }
}

@media (max-width: 1000px) {
    .header__content {
        flex-direction: column;
    }

    .subtitle {
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    .tours-content {
        flex-direction: column;
        gap: 35px;
        align-items: center;
    }

    .tours__box {
        border-radius: 20px;
    }

    .about-title {
        font-size: 50px;
    }

    .about-content {
        margin-top: 50px;
    }

    .partners__content--action--item {
        width: 100%;
    }

    .partners__content--action {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }

    .slider__box {
        flex-direction: column;
        gap: 35px;
        border-radius: 16px;
    }

    .slider__box-image {
        margin: auto;
    }

    .swiper-slide {
        height: auto;
    }

    .slider__box-article {
        max-width: 100%;
        gap: 15px;
    }

    .slider__buttons {
        margin-top: 25px;
    }

    .slider-title {
        font-size: 46px;
    }
    .button {
        padding: 25px 60px;
        border-radius: 16px;
        font-size: 18px;
    }
}

@media (max-width: 600px) {
    .modal--action {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    .navbar {
        border-radius: 0 0 20px 20px;
    }

    .modal {
        transition: .2s all;
    }

    .tours {
        margin-top: 50px;
    }

    .about-title {
        font-size: 32px;
    }

    .about-content {
        margin-top: 30px;
    }

    .slider__box {
        padding: 30px 20px 20px;
    }

    .slider__buttons-item {
        width: calc(50% - 10px / 2);
        height: 50px;
        font-size: 15px;
    }

    .slider__buttons {
        gap: 10px;
    }

    .slider-title {
        font-size: 36px;
    }

    .slider__box-title {
        font-size: 26px;
    }

    .slider__box-subtitle {
        font-size: 28px;
    }
}

@media (max-width: 550px) {
    .header__content--action--title {
        width: 100%;
        font-size: 3rem;
    }

    .navbar__nav--burger {
        width: 50px;
        height: 20px;
    }
}


@media (max-width: 500px) {
    .tours {
        margin-top: 0px;
    }
}


@media (max-width: 425px) {
    .header__content--action--title {
        font-size: 2rem;
    }


    .tours__images {
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
    }

    .tours__images-item {
        max-width: 250px;
        width: 100%;
        border-radius: 18px;
    }

    .tours__box-title {
        font-size: 32px;
    }

    .tours__box-inner {
        width: 100%;
        gap: 15px;
        margin-top: 32px;
    }

    .tours__box-btn {
        border-radius: 12px;
        padding: 16px 0;
        font-size: 18px;
    }

    .tours__box {
        border-radius: 16px;
    }

    .header__content--img {
        height: 400px;
    }

    .tours {
        margin-top: 50px;
    }

    .about-title {
        font-size: 28px;
    }

    .contacts__content--action iframe {
        height: 400px;
    }

    .contacts__content--action div p {
        font-size: 20px;
    }

    
    .button {
        padding: 20px 60px;
        border-radius: 16px;
        font-size: 16px;
    }

    .slider__buttons {
        flex-direction: column;
    }

    .slider__buttons-item {
        width: 100%;
        height: 45px;
        font-size: 14px;
    }
    .slider__box {
        border-radius: 12px;
    }
    .swiper {
        padding: 40px 0 60px;
    }
}

.action {
    width: 100%;
    padding: 25px;
    text-align: center;
    font-size: 32px;
    background: #030F5D;
    color: #fff;
    display: none;
    justify-content: center;
    align-items: center;
}

.action.active {
    display: flex;
}